---
Checks: '-*
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    modernize-*,
    -modernize-macro-to-enum,
    performance-*,
    readability-*,
'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - {key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals, value: true}
...
