#------------------------------------------------------------------------------
# BUILD FILES
#------------------------------------------------------------------------------

*.a
*.dll
*.lib
*.o
*.obj
*.so

#------------------------------------------------------------------------------
# BINARY FILES
#------------------------------------------------------------------------------

*.bin
*.elf
*.exe
*.hex
*.map
*.out

#------------------------------------------------------------------------------
# UTILITY FILES
#------------------------------------------------------------------------------

*.orig
*~
.*
\#*#

#------------------------------------------------------------------------------
# EXCEPTIONS
#------------------------------------------------------------------------------

!.gitattributes
!.gitconfig
!.gitignore
!.gitmodules
